<div class="tree-root">
    {% for group in items %}
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <span style="width: 35px; font-weight: bold; font-size: 1.1em; color: #65676b;">
                {% if forloop.counter == 1 %}🥇{% elif forloop.counter == 2 %}🥈{% elif forloop.counter == 3 %}🥉{% else %}{{ forloop.counter }}.{% endif %}
            </span>
            <div style="flex-grow: 1;">
                {% include "map/partials/item_row.html" with item=group level=1 type="group" %}
            </div>
        </div>
    {% endfor %}
</div>